
params {
    cpus  = 8
    memory = '16 GB'
    help = false
    annotation = false // default: do not run annotation
}

process {

    cpus = params.cpus
    memory = params.memory
    time = '2h'
}

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
    }
    singularity {
        process.executor = 'local'
        singularity.enabled = true
    }
    local {
        process.executor = 'local'
    }
    test {
        params.samplesheet = "$projectDir/test/samplesheet.csv"
        params.outdir      = "./test_results"
    }
}

manifest {
  name        = 'hassanghayas/wgs-nf'
  version     = 'main'
  description = 'Nextflow pipeline for bacterial genome assembly and annotation'
  author      = 'Hassan Ghayas'
}