
params {
    cpus  = 8
    memory = '16 GB'
    help = false
    annotation = false // default: do not run annotation
}

process {

    cpus = params.cpus
    memory = params.memory
    time = '2h'
}

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
    }
    local {
        process.executor = 'local'
    }
    test {
        params.samplesheet = "$projectDir/test/samplesheet.csv"
        params.outdir      = "./test_results"
    }
}